<mat-card>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        placeholder="Post Title"
        type="text"
        name="title"
        formControlName="title"
        required
        minlength="3"
      />
      <!-- <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error> -->
    </mat-form-field>
    <mat-form-field>
      <textarea
        placeholder="Post Content"
        matInput
        rows="4"
        name="content"
        formControlName="content"
        required
      ></textarea>
      <!-- <mat-error *ngIf="content.invalid"
        >Please enter a post content.</mat-error
      > -->
    </mat-form-field>
    <button mat-raised-button color="accent">Save post</button>
  </form>
</mat-card>
<input type="file" name="image" ng2FileSelect [uploader]="uploader" />

<button
  type="button"
  class="btn btn-success btn-s"
  (click)="uploader.uploadAll()"
  [disabled]="!uploader.getNotUploadedItems().length"
>
  Upload an Image
</button>
