<mat-card>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        placeholder="Post Title"
        type="text"
        name="title"
        formControlName="title"
        required
        minlength="3"
      />
      <!-- <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error> -->
    </mat-form-field>
    <mat-form-field>
      <textarea
        placeholder="Post Content"
        matInput
        rows="4"
        name="content"
        formControlName="content"
        required
      ></textarea>
      <!-- <mat-error *ngIf="content.invalid"
        >Please enter a post content.</mat-error
      > -->
    </mat-form-field>
    <button mat-raised-button color="accent">Save post</button>
  </form>
</mat-card>
<!-- <input type="file" name="image" ng2FileSelect [uploader]="uploader" /> -->

<!-- <button
  type="button"
  class="btn btn-success btn-s"
  (click)="uploader.uploadAll()"
  [disabled]="!uploader.getNotUploadedItems().length"
>
  Upload an Image
</button> -->

<label class="image-upload-container btn btn-bwm">
  <span>Select Image</span>
  <input
    #imageInput
    type="file"
    accept="image/*"
    (change)="processFile(imageInput)"
  />
</label>

<div *ngIf="selectedFile">
  <div
    class="img-preview"
    [ngStyle]="{ 'background-image': 'url(' + selectedFile.src + ')' }"
  ></div>

  <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success">
    Image Upload successfully
  </div>
  <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger">
    Image Upload Failed!
  </div>
</div>
