<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"></div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/admin/products']">
      <mat-icon>list</mat-icon>
    </a>
  </div>
  <mat-card class="example-card" *ngFor="let obj of content">
    <mat-card-header>
      <mat-card-title>
        <h2>{{ obj.title }}</h2>
      </mat-card-title>
      <mat-card-subtitle>{{ obj.describlogs }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>Title</dt>
        <dd>{{ obj.title }}</dd>
        <dt>Description</dt>
        <dd>{{ obj.describlogs }}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <a
        mat-flat-button
        color="primary"
        [routerLink]="['/admin/product-edit', obj.id]"
      >
        <mat-icon>edit</mat-icon>
      </a>

      <a mat-flat-button color="primary" (click)="deleteContent(obj.id)">
        <mat-icon>delete</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
<!-- <div *ngFor="let obj of content">
  <p>{{ obj.title }}</p>
</div> -->
